@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  background-color: #251426;
  overflow-x: hidden;
}

/* .container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.container div {
  scroll-snap-align: start;
  height: 100vh;
} */
